#INST "*BUFPLLS[0].bufpll_600_18" LOC=BUFPLL_X0Y3;
#INST "*BUFPLLS[1].bufpll_600_18" LOC=BUFPLL_X2Y3;
#INST "drac/READ" TIG;
NET "limb_clk" CLOCK_DEDICATED_ROUTE = FALSE;
NET "cpu_nwait" DRIVE = 8;
NET "cpu_clk_out" DRIVE = 8;

NET "cpu_d[*]" IOSTANDARD = LVCMOS15;
NET "cpu_nack[*]" IOSTANDARD = LVCMOS15;
NET "cpu_nint[*]" IOSTANDARD = LVCMOS15;
NET "cpu_nreq[*]" IOSTANDARD = LVCMOS15;
NET "ddr_addr[*]" IOSTANDARD = SSTL15_II;
NET "ddr_ba[*]" IOSTANDARD = SSTL15_II;
NET "ddr_cke[*]" IOSTANDARD = SSTL15_II;
NET "ddr_dm[*]" IOSTANDARD = SSTL15_II;
NET "ddr_dq[*]" IOSTANDARD = SSTL15_II;
NET "ddr_nck[*]" IOSTANDARD = SSTL15_II;
NET "ddr_ndqs[*]" IOSTANDARD = SSTL15_II;
NET "ddr_ns[*]" IOSTANDARD = SSTL15_II;
NET "ddr_odt[*]" IOSTANDARD = SSTL15_II;
NET "ddr_pck[*]" IOSTANDARD = SSTL15_II;
NET "ddr_pdqs[*]" IOSTANDARD = SSTL15_II;
NET "limb_d[*]" IOSTANDARD = LVCMOS33;
NET "pci_ad[*]" IOSTANDARD = PCI33_3;
NET "pci_cbe[*]" IOSTANDARD = PCI33_3;
NET "pci_ngnt[*]" IOSTANDARD = PCI33_3;
NET "pci_nint[*]" IOSTANDARD = PCI33_3;
NET "pci_nreq[*]" IOSTANDARD = PCI33_3;
NET "cpu_clk_in" IOSTANDARD = LVCMOS15;
NET "cpu_clk_out" IOSTANDARD = LVCMOS15;
NET "cpu_naddr" IOSTANDARD = LVCMOS15;
NET "cpu_nwait" IOSTANDARD = LVCMOS15;
NET "cpu_nwr" IOSTANDARD = LVCMOS15;
NET "ddr_ncas" IOSTANDARD = SSTL15_II;
NET "ddr_nras" IOSTANDARD = SSTL15_II;
NET "ddr_nwe" IOSTANDARD = SSTL15_II;
NET "limb_start" IOSTANDARD = LVCMOS33;
NET "limb_nrd" IOSTANDARD = LVCMOS33;
NET "limb_nreq" IOSTANDARD = LVCMOS33;
NET "limb_nwait" IOSTANDARD = LVCMOS33;
NET "pci_clk" IOSTANDARD = PCI33_3;
NET "pci_ndevsel" IOSTANDARD = PCI33_3;
NET "pci_nframe" IOSTANDARD = PCI33_3;
NET "pci_nirdy" IOSTANDARD = PCI33_3;
NET "pci_nlock" IOSTANDARD = PCI33_3;
NET "pci_nperr" IOSTANDARD = PCI33_3;
NET "pci_nserr" IOSTANDARD = PCI33_3;
NET "pci_nstop" IOSTANDARD = PCI33_3;
NET "pci_ntrdy" IOSTANDARD = PCI33_3;
NET "pci_parity" IOSTANDARD = PCI33_3;

# cpu_d[]
NET "cpu_d[0]" LOC = C11;
NET "cpu_d[1]" LOC = A11;
NET "cpu_d[2]" LOC = A16;
NET "cpu_d[3]" LOC = A10;
NET "cpu_d[4]" LOC = A15;
NET "cpu_d[5]" LOC = B10;
NET "cpu_d[6]" LOC = C14;
NET "cpu_d[7]" LOC = D17;
NET "cpu_d[8]" LOC = C16;
NET "cpu_d[9]" LOC = A8;
NET "cpu_d[10]" LOC = E16;
NET "cpu_d[11]" LOC = C15;
NET "cpu_d[12]" LOC = B8;
NET "cpu_d[13]" LOC = A7;
NET "cpu_d[14]" LOC = D15;
NET "cpu_d[15]" LOC = A6;
NET "cpu_d[16]" LOC = B6;
NET "cpu_d[17]" LOC = A5;
NET "cpu_d[18]" LOC = A4;
NET "cpu_d[19]" LOC = D14;
NET "cpu_d[20]" LOC = C13;
NET "cpu_d[21]" LOC = A3;
NET "cpu_d[22]" LOC = D3;
NET "cpu_d[23]" LOC = D9;
NET "cpu_d[24]" LOC = C10;
NET "cpu_d[25]" LOC = E3;
NET "cpu_d[26]" LOC = C8;
NET "cpu_d[27]" LOC = D8;
NET "cpu_d[28]" LOC = F2;
NET "cpu_d[29]" LOC = C9;
NET "cpu_d[30]" LOC = K6;
NET "cpu_d[31]" LOC = D11;

NET "cpu_nreq[1]" LOC = D6;
NET "cpu_nreq[0]" LOC = C6;
NET "cpu_naddr" LOC = C7;
NET "cpu_clk_out" LOC = A9;
NET "cpu_nwait" LOC = D10;
NET "cpu_nwr" LOC = D7;
NET "cpu_nint[1]" LOC = N6;
NET "cpu_nint[0]" LOC = L6;
NET "cpu_nack[1]" LOC = M5;
NET "cpu_nack[0]" LOC = F3;

# ddr_addr[]
NET "ddr_addr[0]" LOC = D19;
NET "ddr_addr[1]" LOC = E5;
NET "ddr_addr[2]" LOC = C19;
NET "ddr_addr[3]" LOC = E4;
NET "ddr_addr[4]" LOC = G4;
NET "ddr_addr[5]" LOC = F18;
NET "ddr_addr[6]" LOC = F19;
NET "ddr_addr[7]" LOC = G17;
NET "ddr_addr[8]" LOC = F17;
NET "ddr_addr[9]" LOC = A2;
NET "ddr_addr[10]" LOC = D20;
NET "ddr_addr[11]" LOC = C1;
NET "ddr_addr[12]" LOC = B2;
NET "ddr_addr[13]" LOC = G22;
NET "ddr_addr[14]" LOC = D2;
NET "ddr_addr[15]" LOC = D1;

# ddr_ba[]
NET "ddr_ba[0]" LOC = D22;
NET "ddr_ba[1]" LOC = C20;
NET "ddr_ba[2]" LOC = B1;

# ddr_cke[]
NET "ddr_cke[0]" LOC = C3;
NET "ddr_cke[1]" LOC = E1;

# ddr_dm[]
NET "ddr_dm[0]" LOC = U1;
NET "ddr_dm[1]" LOC = R4;
NET "ddr_dm[2]" LOC = K2;
NET "ddr_dm[3]" LOC = H5;
NET "ddr_dm[4]" LOC = H19;
NET "ddr_dm[5]" LOC = N16;
NET "ddr_dm[6]" LOC = N20;
NET "ddr_dm[7]" LOC = U22;

# ddr_dq[]
NET "ddr_dq[0]" LOC = W3;
NET "ddr_dq[1]" LOC = V1;
NET "ddr_dq[2]" LOC = V2;
NET "ddr_dq[3]" LOC = P2;
NET "ddr_dq[4]" LOC = W1;
NET "ddr_dq[5]" LOC = V3;
NET "ddr_dq[6]" LOC = P1;
NET "ddr_dq[7]" LOC = N1;
NET "ddr_dq[8]" LOC = T4;
NET "ddr_dq[9]" LOC = T3;
NET "ddr_dq[10]" LOC = P3;
NET "ddr_dq[11]" LOC = P5;
NET "ddr_dq[12]" LOC = U4;
NET "ddr_dq[13]" LOC = U3;
NET "ddr_dq[14]" LOC = P4;
NET "ddr_dq[15]" LOC = N4;
NET "ddr_dq[16]" LOC = M2;
NET "ddr_dq[17]" LOC = L1;
NET "ddr_dq[18]" LOC = G1;
NET "ddr_dq[20]" LOC = M1;
NET "ddr_dq[21]" LOC = K1;
NET "ddr_dq[22]" LOC = H1;
NET "ddr_dq[23]" LOC = H2;
NET "ddr_dq[24]" LOC = L4;
NET "ddr_dq[25]" LOC = L3;
NET "ddr_dq[26]" LOC = H3;
NET "ddr_dq[27]" LOC = G3;
NET "ddr_dq[28]" LOC = N3;
NET "ddr_dq[29]" LOC = M3;
NET "ddr_dq[30]" LOC = J4;
NET "ddr_dq[31]" LOC = H4;
NET "ddr_dq[32]" LOC = G19;
NET "ddr_dq[33]" LOC = H20;
NET "ddr_dq[34]" LOC = K17;
NET "ddr_dq[35]" LOC = K16;
NET "ddr_dq[36]" LOC = F20;
NET "ddr_dq[37]" LOC = G20;
NET "ddr_dq[38]" LOC = J19;
NET "ddr_dq[39]" LOC = L19;
NET "ddr_dq[40]" LOC = L22;
NET "ddr_dq[41]" LOC = L17;
NET "ddr_dq[42]" LOC = M21;
NET "ddr_dq[43]" LOC = N22;
NET "ddr_dq[44]" LOC = K22;
NET "ddr_dq[45]" LOC = L20;
NET "ddr_dq[46]" LOC = P17;
NET "ddr_dq[47]" LOC = M22;
NET "ddr_dq[48]" LOC = M19;
NET "ddr_dq[49]" LOC = M20;
NET "ddr_dq[50]" LOC = V20;
NET "ddr_dq[51]" LOC = U19;
NET "ddr_dq[52]" LOC = M17;
NET "ddr_dq[53]" LOC = M18;
NET "ddr_dq[54]" LOC = P18;
NET "ddr_dq[55]" LOC = U20;
NET "ddr_dq[56]" LOC = R22;
NET "ddr_dq[57]" LOC = R20;
NET "ddr_dq[58]" LOC = V22;
NET "ddr_dq[59]" LOC = V21;
NET "ddr_dq[60]" LOC = P22;
NET "ddr_dq[61]" LOC = P21;
NET "ddr_dq[62]" LOC = W22;
NET "ddr_dq[63]" LOC = W20;

# ddr_nck[], ddr_pck[]
NET "ddr_nck[0]" LOC = B22;
NET "ddr_pck[0]" LOC = B21;
NET "ddr_nck[1]" LOC = A21;
NET "ddr_pck[1]" LOC = A20;

# ddr_nqds[], ddr_pqds[]
NET "ddr_ndqs[0]" LOC = T1;
NET "ddr_pdqs[0]" LOC = T2;
NET "ddr_ndqs[1]" LOC = R1;
NET "ddr_pdqs[1]" LOC = R3;
NET "ddr_ndqs[2]" LOC = J1;
NET "ddr_pdqs[2]" LOC = J3;
NET "ddr_ndqs[3]" LOC = K4;
NET "ddr_pdqs[3]" LOC = K5;
NET "ddr_ndqs[4]" LOC = J22;
NET "ddr_pdqs[4]" LOC = J20;
NET "ddr_ndqs[5]" LOC = L15;
NET "ddr_pdqs[5]" LOC = M16;
NET "ddr_ndqs[6]" LOC = P20;
NET "ddr_pdqs[6]" LOC = P19;
NET "ddr_ndqs[7]" LOC = T22;
NET "ddr_pdqs[7]" LOC = T21;

# ddr_ns[]
NET "ddr_ns[0]" LOC = E20;
NET "ddr_ns[1]" LOC = H22;

# ddr_odt[]
NET "ddr_odt[0]" LOC = F22;
NET "ddr_odt[1]" LOC = H21;

NET "ddr_ncas" LOC = E22;
NET "ddr_nras" LOC = C22;
NET "ddr_nwe" LOC = D21;

NET "limb_d[6]" LOC = T15;
NET "limb_d[5]" LOC = U16;
NET "limb_d[2]" LOC = V19;
NET "limb_d[3]" LOC = V18;
NET "limb_d[4]" LOC = V17;
NET "limb_d[7]" LOC = V15;
NET "limb_d[0]" LOC = W14;
NET "limb_d[1]" LOC = U17;
NET "pci_ad[28]" LOC = AB14;
NET "pci_ad[29]" LOC = AA14;
NET "pci_ad[27]" LOC = W13;
NET "pci_ad[30]" LOC = Y14;
NET "pci_ad[31]" LOC = AB15;
NET "pci_ad[22]" LOC = U12;
NET "pci_ad[25]" LOC = Y12;
NET "pci_ad[26]" LOC = Y13;
NET "pci_ad[24]" LOC = AB13;
NET "pci_ad[23]" LOC = AB12;
NET "pci_ad[16]" LOC = V11;
NET "pci_ad[17]" LOC = W11;
NET "pci_ad[14]" LOC = Y7;
NET "pci_ad[15]" LOC = AB7;
NET "pci_ad[11]" LOC = AA6;
NET "pci_ad[18]" LOC = U13;
NET "pci_ad[19]" LOC = W10;
NET "pci_ad[12]" LOC = AB6;
NET "pci_ad[21]" LOC = U9;
NET "pci_ad[20]" LOC = V9;
NET "pci_ad[13]" LOC = W6;
NET "pci_ad[10]" LOC = Y6;
NET "pci_ad[9]" LOC = AB5;
NET "pci_ad[6]" LOC = AA4;
NET "pci_ad[7]" LOC = AB4;
NET "pci_ad[4]" LOC = Y3;
NET "pci_ad[3]" LOC = AB3;
NET "pci_ad[5]" LOC = W4;
NET "pci_ad[2]" LOC = Y4;
NET "pci_ad[8]" LOC = V5;
NET "pci_ad[0]" LOC = AA2;
NET "pci_ad[1]" LOC = AB2;
NET "pci_cbe[3]" LOC = AA12;
NET "pci_cbe[2]" LOC = AB11;
NET "pci_cbe[1]" LOC = AA8;
NET "pci_cbe[0]" LOC = Y5;
NET "pci_ngnt[3]" LOC = AA18;
NET "pci_ngnt[2]" LOC = Y17;
NET "pci_ngnt[1]" LOC = AA16;
NET "pci_ngnt[0]" LOC = Y15;
NET "pci_nint[3]" LOC = W17;
NET "pci_nint[2]" LOC = W18;
NET "pci_nint[1]" LOC = AB19;
NET "pci_nint[0]" LOC = Y19;
NET "pci_nreq[3]" LOC = AB18;
NET "pci_nreq[2]" LOC = AB17;
NET "pci_nreq[1]" LOC = AB16;
NET "pci_nreq[0]" LOC = W15;
NET "limb_clk" LOC = R15;
NET "limb_nrd" LOC = R16;
NET "limb_nreq" LOC = U14;
NET "limb_nwait" LOC = T17;
NET "limb_start" LOC = T16;
NET "pci_clk" LOC = W12;
NET "pci_ndevsel" LOC = AB9;
NET "pci_nframe" LOC = Y11;
NET "pci_nirdy" LOC = AB10;
NET "pci_nlock" LOC = W9;
NET "pci_nperr" LOC = Y9;
NET "pci_nserr" LOC = AB8;
NET "pci_nstop" LOC = Y10;
NET "pci_ntrdy" LOC = AA10;
NET "pci_parity" LOC = Y8;
NET "ddr_clk_in" LOC = K20;
TIMESPEC "TS_ddr_clk_in" = PERIOD "ddr_clk_in" 16 ns HIGH 50%;

#NET "ddr_addr[*]" OUT_TERM = UNTUNED_25;
#NET "ddr_ba[*]" OUT_TERM = UNTUNED_25;
#NET "ddr_cke[*]" OUT_TERM = UNTUNED_25;
#NET "ddr_dm[*]" OUT_TERM = UNTUNED_25;
#NET "ddr_dq[*]" IN_TERM = UNTUNED_SPLIT_50;
#NET "ddr_dq[*]" OUT_TERM = UNTUNED_25;
#NET "ddr_nck[*]" OUT_TERM = UNTUNED_25;
#NET "ddr_ndqs[*]" IN_TERM = UNTUNED_SPLIT_50;
#NET "ddr_ndqs[*]" OUT_TERM = UNTUNED_25;
#NET "ddr_ns[*]" OUT_TERM = UNTUNED_25;
#NET "ddr_odt[*]" OUT_TERM = UNTUNED_25;
#NET "ddr_pck[*]" OUT_TERM = UNTUNED_25;
#NET "ddr_pdqs[*]" OUT_TERM = UNTUNED_25;
#NET "ddr_pdqs[*]" IN_TERM = UNTUNED_SPLIT_50;
#NET "ddr_ncas" OUT_TERM = UNTUNED_25;
#NET "ddr_nras" OUT_TERM = UNTUNED_25;
#NET "ddr_nwe" OUT_TERM = UNTUNED_25;
NET "limb_d[*]" OUT_TERM = UNTUNED_50;
NET "limb_nreq" OUT_TERM = UNTUNED_50;
NET "limb_nwait" OUT_TERM = UNTUNED_50;
NET "cpu_d[*]" OUT_TERM = UNTUNED_25;
NET "cpu_nack[*]" OUT_TERM = UNTUNED_25;
NET "cpu_nint[*]" OUT_TERM = UNTUNED_25;

# cpu_d[]
NET "cpu_d[0]" PULLUP;
NET "cpu_d[1]" PULLUP;
NET "cpu_d[2]" PULLUP;
NET "cpu_d[3]" PULLUP;
NET "cpu_d[4]" PULLUP;
NET "cpu_d[5]" PULLUP;
NET "cpu_d[6]" PULLUP;
NET "cpu_d[7]" PULLUP;
NET "cpu_d[8]" PULLUP;
NET "cpu_d[9]" PULLUP;
NET "cpu_d[10]" PULLUP;
NET "cpu_d[11]" PULLUP;
NET "cpu_d[12]" PULLUP;
NET "cpu_d[13]" PULLUP;
NET "cpu_d[14]" PULLUP;
NET "cpu_d[15]" PULLUP;
NET "cpu_d[16]" PULLUP;
NET "cpu_d[17]" PULLUP;
NET "cpu_d[18]" PULLUP;
NET "cpu_d[19]" PULLUP;
NET "cpu_d[20]" PULLUP;
NET "cpu_d[21]" PULLUP;
NET "cpu_d[22]" PULLUP;
NET "cpu_d[23]" PULLUP;
NET "cpu_d[24]" PULLUP;
NET "cpu_d[25]" PULLUP;
NET "cpu_d[26]" PULLUP;
NET "cpu_d[27]" PULLUP;
NET "cpu_d[28]" PULLUP;
NET "cpu_d[29]" PULLUP;
NET "cpu_d[30]" PULLUP;
NET "cpu_d[31]" PULLUP;

NET "cpu_nreq[1]" PULLUP;
NET "cpu_nreq[0]" PULLUP;
NET "cpu_naddr" PULLUP;
NET "cpu_nwr" PULLUP;

# ddr_dq[]
NET "ddr_dq[0]" PULLUP;
NET "ddr_dq[1]" PULLUP;
NET "ddr_dq[2]" PULLUP;
NET "ddr_dq[3]" PULLUP;
NET "ddr_dq[4]" PULLUP;
NET "ddr_dq[5]" PULLUP;
NET "ddr_dq[6]" PULLUP;
NET "ddr_dq[7]" PULLUP;
NET "ddr_dq[8]" PULLUP;
NET "ddr_dq[9]" PULLUP;
NET "ddr_dq[10]" PULLUP;
NET "ddr_dq[11]" PULLUP;
NET "ddr_dq[12]" PULLUP;
NET "ddr_dq[13]" PULLUP;
NET "ddr_dq[14]" PULLUP;
NET "ddr_dq[15]" PULLUP;
NET "ddr_dq[16]" PULLUP;
NET "ddr_dq[17]" PULLUP;
NET "ddr_dq[18]" PULLUP;
NET "ddr_dq[20]" PULLUP;
NET "ddr_dq[21]" PULLUP;
NET "ddr_dq[22]" PULLUP;
NET "ddr_dq[23]" PULLUP;
NET "ddr_dq[24]" PULLUP;
NET "ddr_dq[25]" PULLUP;
NET "ddr_dq[26]" PULLUP;
NET "ddr_dq[27]" PULLUP;
NET "ddr_dq[28]" PULLUP;
NET "ddr_dq[29]" PULLUP;
NET "ddr_dq[30]" PULLUP;
NET "ddr_dq[31]" PULLUP;
NET "ddr_dq[32]" PULLUP;
NET "ddr_dq[33]" PULLUP;
NET "ddr_dq[34]" PULLUP;
NET "ddr_dq[35]" PULLUP;
NET "ddr_dq[36]" PULLUP;
NET "ddr_dq[37]" PULLUP;
NET "ddr_dq[38]" PULLUP;
NET "ddr_dq[39]" PULLUP;
NET "ddr_dq[40]" PULLUP;
NET "ddr_dq[41]" PULLUP;
NET "ddr_dq[42]" PULLUP;
NET "ddr_dq[43]" PULLUP;
NET "ddr_dq[44]" PULLUP;
NET "ddr_dq[45]" PULLUP;
NET "ddr_dq[46]" PULLUP;
NET "ddr_dq[47]" PULLUP;
NET "ddr_dq[48]" PULLUP;
NET "ddr_dq[49]" PULLUP;
NET "ddr_dq[50]" PULLUP;
NET "ddr_dq[51]" PULLUP;
NET "ddr_dq[52]" PULLUP;
NET "ddr_dq[53]" PULLUP;
NET "ddr_dq[54]" PULLUP;
NET "ddr_dq[55]" PULLUP;
NET "ddr_dq[56]" PULLUP;
NET "ddr_dq[57]" PULLUP;
NET "ddr_dq[58]" PULLUP;
NET "ddr_dq[59]" PULLUP;
NET "ddr_dq[60]" PULLUP;
NET "ddr_dq[61]" PULLUP;
NET "ddr_dq[62]" PULLUP;
NET "ddr_dq[63]" PULLUP;

# ddr_nqds[], ddr_pqds[]
NET "ddr_ndqs[0]" PULLUP;
NET "ddr_pdqs[0]" PULLUP;
NET "ddr_ndqs[1]" PULLUP;
NET "ddr_pdqs[1]" PULLUP;
NET "ddr_ndqs[2]" PULLUP;
NET "ddr_pdqs[2]" PULLUP;
NET "ddr_ndqs[3]" PULLUP;
NET "ddr_pdqs[3]" PULLUP;
NET "ddr_ndqs[4]" PULLUP;
NET "ddr_pdqs[4]" PULLUP;
NET "ddr_ndqs[5]" PULLUP;
NET "ddr_pdqs[5]" PULLUP;
NET "ddr_ndqs[6]" PULLUP;
NET "ddr_pdqs[6]" PULLUP;
NET "ddr_ndqs[7]" PULLUP;
NET "ddr_pdqs[7]" PULLUP;

NET "limb_d[0]" PULLUP;
NET "limb_d[1]" PULLUP;
NET "limb_d[2]" PULLUP;
NET "limb_d[3]" PULLUP;
NET "limb_d[4]" PULLUP;
NET "limb_d[5]" PULLUP;
NET "limb_d[6]" PULLUP;
NET "limb_d[7]" PULLUP;
NET "pci_ad[28]" PULLUP;
NET "pci_ad[29]" PULLUP;
NET "pci_ad[27]" PULLUP;
NET "pci_ad[30]" PULLUP;
NET "pci_ad[31]" PULLUP;
NET "pci_ad[22]" PULLUP;
NET "pci_ad[25]" PULLUP;
NET "pci_ad[26]" PULLUP;
NET "pci_ad[24]" PULLUP;
NET "pci_ad[23]" PULLUP;
NET "pci_ad[16]" PULLUP;
NET "pci_ad[17]" PULLUP;
NET "pci_ad[14]" PULLUP;
NET "pci_ad[15]" PULLUP;
NET "pci_ad[11]" PULLUP;
NET "pci_ad[18]" PULLUP;
NET "pci_ad[19]" PULLUP;
NET "pci_ad[12]" PULLUP;
NET "pci_ad[21]" PULLUP;
NET "pci_ad[20]" PULLUP;
NET "pci_ad[13]" PULLUP;
NET "pci_ad[10]" PULLUP;
NET "pci_ad[9]" PULLUP;
NET "pci_ad[6]" PULLUP;
NET "pci_ad[7]" PULLUP;
NET "pci_ad[4]" PULLUP;
NET "pci_ad[3]" PULLUP;
NET "pci_ad[5]" PULLUP;
NET "pci_ad[2]" PULLUP;
NET "pci_ad[8]" PULLUP;
NET "pci_ad[0]" PULLUP;
NET "pci_ad[1]" PULLUP;
NET "pci_nint[3]" PULLUP;
NET "pci_nint[2]" PULLUP;
NET "pci_nint[1]" PULLUP;
NET "pci_nint[0]" PULLUP;
NET "pci_nreq[3]" PULLUP;
NET "pci_nreq[2]" PULLUP;
NET "pci_nreq[1]" PULLUP;
NET "pci_nreq[0]" PULLUP;
NET "limb_start" PULLDOWN;
NET "limb_nrd" PULLUP;
NET "limb_clk" PULLDOWN;
NET "pci_ndevsel" PULLUP;
NET "pci_nlock" PULLUP;
NET "pci_nperr" PULLUP;
NET "pci_nserr" PULLUP;
NET "pci_nstop" PULLUP;
NET "pci_ntrdy" PULLUP;
NET "pci_parity" PULLUP;
NET "ddr_clk_in" PULLUP;
